.menu-filters {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (max-width: 765px) {
  .menu-filters {
    flex-direction: column;
    gap: 15px;
  }
}
